/* main font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input,button{
    border: none;
}
button{
    background: transparent;
}
img{
    width: 100%;
}
.silver-color{
    font-weight: 500;
    color: #727272;
}
.colored{
    color: #FF900E;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* common class css */
.container{
    max-width: 100%;
    margin: 0 auto;
}
.detail{
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}
.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.inner-title, .button{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.inner-title{
    color: #131313;
}
.button {
    color: #ffffff;
    background: #FF900E;
    padding: 13px 20px;
    border-radius: 5px;
}
.center{
    text-align: center;
    max-width: 100%;
    margin: 0 auto 50px;
}
/* menu */
.logo a{
    font-size: 2.81em;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
}
.header-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    display: none;
}
.menu-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.menu-list a{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}
/* mobile menu */
.mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.mobile-logo a {
    font-size: 20px;
    color: #424242;
    font-weight: 700;
}
.mobile-menu-list {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 0px 28px #e3dcdc;
    width: 150px;
}
.mobile-menu-list a{
    color: #727272;
    padding: 8px;
}
.mobile-menu-wrap:hover .mobile-menu-list{
    display: block;
}
/* header area */
.header-area{
    background: rgba(255, 144, 14, 0.1);
    padding: 25px;
}
.banner-content{
    text-align: center;
    width: 100%;
    margin: 50px auto;
}
.banner-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-title span{
    display: block;
}
.banner-content .detail{
    margin-bottom: 32px;
}
/* feature area */
.feature-area{
    padding: 50px 0px;
}
.quick-feature {
    display: flex;
    align-items: center;
    padding: 0 25px;
    flex-direction:column-reverse;
}
.feature-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
}
.feature-content{
    padding-left: 0;
    margin-bottom: 40px;
}
.promising-feature{
    padding: 150px 25px 0;
}
.prms-ftr-all.flex{
    gap: 0px;
    flex-direction: column-reverse;
}
.prms-ftr-content{
    width: 100%;
}
.prms-ftr-inner-sngl{
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 14%);
    margin-bottom: 20px;
    border-radius: 8px;
}
.prms-ftr-inner-sngl:last-child {
    margin-bottom: 0px;
}
.prms-ftr-inner-sngl .detail {
    margin-bottom: 0;
}
.prms-ftr-bnr{
    padding-left: 0px;
    position: relative;
    margin-bottom: 30px;
}
.highlight{
    padding: 30px 0;
    background: #FF900E;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    text-align: center;
}
.highlight h2{
    font-size: 65px;
    font-weight: 700;
}
.highlight span{
    display: block;
    font-size: 25px;
    font-weight: 500;
}
.main-title .title{
    padding-left: 21px;
    border-left: 5px solid #FF900E;
}
/* facts area */
.fact-area {
    padding: 50px 25px;
}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.single-fact{
    padding: 46px 0;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    width: 242px;
}
.single-fact img{
    width: auto;
    margin-bottom: 10px;
    transition: 0.22s;
}
.point {
    font-size: 45px;
    color: #424242;
    font-weight: 600;
    line-height: 53px;
    margin-bottom: 5px;
    transition: 0.24s;
}
.status{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #727272;
    transition: 0.24s;
}
.single-fact:hover{
    background-color: #FF900E;
}
.single-fact:hover .point, 
.single-fact:hover .status {
    color: #ffffff;
} 
.single-fact:hover img {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
}
/* sponsors area */
.sponsor-area {
    padding: 0px 25px 50px;
}
.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.single-sponsor {
    width: 100%;
    text-align: center;
}
.single-sponsor img{
    width: auto;
}
/* footer */
.footer-area{
    padding: 50px 0 0;
}
.footer-content{
    background: #FFF4E7;
    text-align: center;
    padding: 38px 0;
    border-radius: 8px;
}
.footer-content p{
    font-size: 20px;
    color: #424242;
}
/* contact area */
.contact-area{
    padding: 0px 25px;
}
.contact-form {
    padding: 25px;
    box-shadow: 0 0 8px rgb(0 0 0 / 36%);
    border-radius: 8px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.contact-form > div{
    width: 100%;
}
label {
    display: block;
    font-weight: 700;
    color: #424242;
    margin-bottom: 15px;
}
input.w-100, textarea{
    width: calc(100% - 30px);
    border: 2px solid #727272;
    padding: 15px;
    border-radius: 8px;
    background: #f9f9f9;
    color: #424242;
}
textarea {
    height: 128px;
    resize: none;
}
.single-input{
    margin-bottom: 30px;
}
/* responsive css */
@media (min-width: 480px) {
    .feature-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 750px;
    }
    .button{
        padding: 20px 24px;
        border-radius: 8px;
    }
    .colored{
        display: block;
    }
    .header-menu{
        display: flex;
    }
    .mobile-menu{
        display: none;
    }
    .menu-list {
        width: calc(100% - 25em);
    }
    .banner-content{
        width: 70%;
    }
    .banner-title{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .feature-area{
        padding: 85px 0 130px;
    }
    .quick-feature {
        flex-direction:row;
    }
    .feature-content{
        padding-left: 74px;
        margin-bottom: 0;
    }
    .promising-feature{
        padding-top: 0px;
    }
    .prms-ftr-all.flex{
        gap: 40px;
        flex-direction: row;
    }
    .prms-ftr-bnr{
        padding-left: 40px;
        position: relative;
        margin-bottom: 0px;
    }
    .highlight{
        padding: 46px 42px;
        border-radius: 8px;
        bottom: -40px;
        width: auto;
    }
    .facts {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sponsor-area{
        padding: 0px 25px 130px;
    }
    .sponsors {
        flex-direction: row;
    }
    .single-sponsor {
        width: 30%;
    }
}

@media (min-width: 992px) { 
    .container{
        max-width: 950px;
    }
    .title{
        font-size: 45px;
        line-height: 53px;
    }
    .header-area{
        padding: 45px;
    }
    .banner-title{
        font-size: 64px;
        line-height: 75px;
    }
    .quick-feature {
        padding: 0 60px;
    }
    .feature-images{
        gap: 24;
    }
    .fact-area .section-title{
        margin-bottom: 70px;
        width: 50%;
    }
    .fact-area{
        padding: 130px 0;
    }
    .facts{
        flex-direction: row;
    }
    .sponsor-area{
        padding: 0px 0 130px;
    }
    .center{
        max-width: 50%;
    }
    .sponsors {
        flex-wrap: nowrap;
    }
    .contact-form {
        padding: 100px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .contact-form > div{
        width: 50%;
    }
    .footer-area{
        padding: 130px 0;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
    .menu-list {
        width: calc(100% - 40em);
    }
}

@media (min-width: 1600px) {
    .container{
        max-width: 1440px;
    }
}